<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Ivory Guide</title>
        <link rel="stylesheet" type="text/css" href="/trough/css/ambiata.css" />
        <link rel="stylesheet" type="text/css" href="/css/site.css" />
    </head>
    <body>
        <header class="header">
          <div class="wrapper clearfix">
            <section id="logo">
              <a href="http://www.ambiata.com" title="Ambiata" class="logo">
                <img src="/trough/images/ambiata/AmbiataLeafAlphaBg.png" alt="Ambiata">
              </a>
              $title$
            </section>
          </div>
        </header>

        <div class="content">
          $body$
        </div>

        <div class="footer">
          <ul>
            <li><a href="http://ambiata.com/">Home</a></li>
            <li><a href="http://lab.ambiata.com/">Blog</a></li>
          </ul>
          <div class="footer-logo">
            <a href="http://ambiata.com/" title="Ambiata" class="logo">
              <img src="/trough/images/AmbiataGrowWithDataLogo.png" alt="Ambiata" />
            </a>
          </div>
        </div>
    </body>
</html>
